@import "../../colors";

.checkbox {
  display: flex;
  margin-top: 21px;
  cursor: pointer;

  .box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 14px;
    height: 14px;
    border: 2px solid rgba(217, 217, 217, 0.5);
    margin-right: 15px;

    .checkMark {
      display: none;
    }
  }

  .greenBox {
    background-color: $green;
    border: none;
  }

  .label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: $gray;
  }
}
