@import "colors";
@import "header";
@import "logo";
@import "button";
@import "banner";
@import "plan";
@import "title";
@import "about";
@import "step";
@import "socialPosts";
@import "footer";

body {
  font-family: 'DM Sans', serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

* {
  box-sizing: border-box;
}
