@import "../../colors";

.sale {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $white;
  color: $green;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  padding: 10px 16px;

  &_green {
    background-color: $green;
    color: $white;
  }
}
