.footer {
  background-color: rgba(238, 238, 238, 0.3);
  margin: 14px;
  border: 2px solid rgba(196, 196, 196, 0.3);
  border-radius: 4px; }
  .footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.12em; }
    @media screen and (max-width: 767px) {
      .footer-link {
        font-size: 12px;
        line-height: 16px; } }
  .footer__social-icons {
    display: flex;
    justify-content: space-between;
    width: 197px; }
    @media screen and (max-width: 767px) {
      .footer__social-icons {
        display: none; } }
  .footer .icon {
    display: inline-block; }
  .footer__header, .footer__main {
    padding: 0 0 0 80px; }
    @media screen and (max-width: 767px) {
      .footer__header, .footer__main {
        padding: 0 34px; } }
  .footer__header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 60px;
    padding-top: 50px; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .footer__header {
        margin-bottom: 50px;
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 767px) {
      .footer__header {
        padding-top: 40px;
        margin-bottom: 36px; } }
    .footer__header .logo {
      grid-column: 1/4; }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .footer__header .logo {
          grid-column: 1/2; } }
  .footer__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    @media screen and (max-width: 1023px) {
      .footer__main {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 767px) {
      .footer__main {
        padding-right: 0;
        padding-left: 0; } }
    .footer__main .link-section {
      display: flex;
      flex-direction: column; }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .footer__main .link-section {
          margin-bottom: 30px; } }
      @media screen and (max-width: 767px) {
        .footer__main .link-section {
          margin-left: 32px;
          margin-bottom: 50px; } }
      .footer__main .link-section__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 13px; }
        @media screen and (max-width: 767px) {
          .footer__main .link-section__title {
            font-size: 16px;
            line-height: 21px; } }
      .footer__main .link-section .footer-link {
        margin-bottom: 8px; }
        @media screen and (max-width: 767px) {
          .footer__main .link-section .footer-link {
            margin-bottom: 10px; } }
  .footer__footer {
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid rgba(196, 196, 196, 0.3);
    margin-top: 47px;
    padding: 24px 72px 30px 62px; }
    @media screen and (max-width: 1023px) {
      .footer__footer {
        margin-top: 0;
        justify-content: flex-start;
        flex-wrap: wrap; } }
    @media screen and (max-width: 767px) {
      .footer__footer {
        margin-top: 0;
        padding: 20px 32px; } }
    .footer__footer .footer-link:first-child {
      margin-right: 36px; }
    .footer__footer .copyright {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.12em;
      display: none; }
      @media screen and (max-width: 767px) {
        .footer__footer .copyright {
          font-size: 12px;
          line-height: 16px; } }
      @media screen and (max-width: 1023px) {
        .footer__footer .copyright {
          width: 100%;
          display: block;
          margin-top: 15px; } }
